---

---

<hr class="linea">
    <footer class="footer">
        <p>&copy; 2025 Dario Rodriguez | Todos los derechos reservados</p>
        <a href="https://www.linkedin.com/in/dario-rodriguez-quispe-a230131a6" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/DarioRodro" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.instagram.com/deare0_/?hl=es" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/dariofrancisco.rodriguezquispe" target="_blank">
            <i class="fa-brands fa-facebook-f"></i>
        </a>

    </footer>

    <style>

    .linea {
      position: relative;
      height: 1px;
      background-color: #15171d; /* Color azul */
      width: 20%; /* Ancho de la línea (ajústalo según lo que necesites) */
      margin: 20px auto;
      border: 1;
      border-color: #0f53c2;
      border-radius: 40%;
    }
    a {
      text-decoration: none;
    }
    .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra el contenido */
    align-items: center; /* Alinea verticalmente */
    height: 40px; /* Ajusta la altura según sea necesario */
    background-color: #15171d; /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 14px;
    padding: 30px 10px;
    }

    .footer p {
    margin: 20px;
    }

    .footer i{
    transform: scale(2);
    margin-right: 15px; /* Espacio entre los iconos */
    margin-left: 10px;
    margin: none;
    color: white;
    }
    .footer i:hover {
    transform: scale(2.5);
    transition: transform 0.3s ease-in-out;
    }
    @media (min-width: 769px) and (max-width: 1440px) {
      .linea {
      width: 50%; /* Ancho de la línea (ajústalo según lo que necesites) */
    }
  }
    @media (max-width: 768px) {
    .linea {
      height: 1px;
      width: 50%; /* Ancho de la línea (ajústalo según lo que necesites) */
    }
  .footer {
    display: block;
    justify-content: center; /* Centra el contenido */
    text-align: center;
    padding-top: 0;
  }

  .footer i {
    transform: scale(2);
    margin-right: 15px; /* Espacio entre los iconos */
    margin-left: 10px;
    margin: none;
    color: white;
  }
  .footer p {
    margin-top: 0px;
    font-size: 12px;
    text-align: center;

    }
}
    </style>
    