<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Mi PortaFolio</title>
		<script src="https://kit.fontawesome.com/66e0d2610f.js" crossorigin="anonymous"></script>

	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html { 
	font-family: "Montserrat", sans-serif;
	background-color: rgba(22, 22, 28); /* Fondo semitransparente */
	box-sizing: border-box;
	padding: 0;
    margin: 0 auto;
    scroll-behavior: smooth;
	}

</style>
